@page "/update-keyPair/{keyPairId}"
@using SSH_Configurer_UI.Model;
@using SSH_Configurer_UI.Components
@using SSH_Configurer_UI.Services
@inject IContentService<KeyPair> keyPairService
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

@if (keyPair is null)
{
    <div style="color: @stateColor">@stateMessage</div>
}
else
{
    <InfoTopDiv content="@getTopInfo()"></InfoTopDiv>
    <EditKeyPair keyPair="@keyPair" resetFeedback="@ResetFeedback" saveKeyPair="@SaveKeyPair" color="@color" feedback="@feedback"></EditKeyPair>
}

@code {
    [Parameter]
    public string keyPairId { get; set; }
    private KeyPair? keyPair = null;
    string feedback = "";
    string color = "";
    string stateMessage = "Loading...";
    string stateColor = "green";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            keyPair = await keyPairService.GetById(int.Parse(keyPairId));
            if (keyPair is null)
            {
                stateMessage = "KeyPair not found!";
                stateColor = "red";
            }
            else
            {
                keyPair.PrivateKey = "placeholder";
            }
            StateHasChanged();
        }
    }

    private async Task SaveKeyPair()
    {
        int response = await keyPairService.Update(int.Parse(keyPairId), new KeyPair
            {
                Id = keyPair.Id,
                Name = keyPair.Name,
                PublicKey = keyPair.PublicKey,
                PrivateKey = keyPair.PrivateKey
            });
        if (response == 0)
        {
            keyPair = await keyPairService.GetById(int.Parse(keyPairId));
            feedback = "KeyPair updated successfully.";
            color = "green";
        }
        else
        {
            feedback = "Updating failed.";
            color = "red";
        }
    }

    private void ResetFeedback()
    {
        feedback = "";
        color = "";
    }

    private string getTopInfo()
    {
        return $"Updating pair of asymmetric keys with id {keyPair.Id}";
    }
}