@using static SSH_Configurer_UI.Data.DataTypes;

@if(Devices is null)
{
    <br />
    <span>Devices are loading...</span>
    <br />
}
else if(Devices.Count == 0)
{
    <br />
    <span>No devices to display</span>
    <br />
}
else{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Hostname</th>
                <th>Port</th>
                <th>Assigned Public Key</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Devices)
            {
                <tr>
                    <td>@device.Id</td>
                    <td>@device.Name</td>
                    <td>@device.Hostname</td>
                    <td>@device.Port</td>
                    <td>@device.ServerPubKeyId</td>
                    <td>@device.Password</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<Device> Devices { get; set; }

}
