@using SSH_Configurer_UI.Model;
@using SSH_Configurer_UI.Components
@using SSH_Configurer_UI.Services
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@keyPair" OnValidSubmit="@Save">
    <DataAnnotationsValidator />

    <div>Name:</div>
    <ValidationMessage For="(() => keyPair.Name)" />
    <InputText class="form-control" placeholder="Name" @bind-Value="@keyPair.Name"></InputText><br />

    <fieldset disabled>
        <div>Public key:</div>
        <ValidationMessage For="(() => keyPair.PublicKey)" />
        <InputTextArea class="form-control custom-textarea" placeholder="Public key" @bind-Value="@keyPair.PublicKey"></InputTextArea><br />
    </fieldset>

    <div style="color: @color">@feedback</div><br />
    <button onclick="@Reset" class="btn btn-primary" type="submit">Save keyPair</button>
</EditForm>

<style>
    .custom-textarea {
        height: 300px; /* Set the initial height */
        resize: vertical;
    }
</style>

@code {
    [Parameter]
    public KeyPair keyPair { get; set; }

    [Parameter]
    public EventCallback saveKeyPair { get; set; }

    [Parameter]
    public EventCallback resetFeedback { get; set; }

    [Parameter]
    public string color { get; set; }

    [Parameter]
    public string feedback { get; set; }

    private void Save()
    {
        saveKeyPair.InvokeAsync();
    }

    private void Reset()
    {
        resetFeedback.InvokeAsync();
    }
}
